@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLMUSTERİ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class=" table table-bordered">
    <tr>
        <th>ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>SOYAD</th>
        <th>ŞEHİR</th>
        <th>BAKİYE</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.İD</td>
        <td>@x.AD</td>
        <td>@x.SOYAD</td>
        <td>@x.SEHİR</td>
        <td>@x.BAKIYE</td>
        <td><a href="/Müsteri/MüsteriSil/@x.İD" class="btn btn-danger">SİL</a></td>
        <td><a href="/Müsteri/MüsteriGetir/@x.İD" class="btn btn-success">GÜNCELLE</a></td>
    </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))
<a href="/Müsteri/YeniMüsteri/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>


