@using MvcStok.Models.Entity
@model List<TBLSATİS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class=" table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN ADI</th>
        <th>PERSONEL</th>
        <th>MÜŞTERİ</th>
        <th>FİYAT</th>
        <th>TARİH</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.İD</td>
        <td>@x.TBLURUNLER.AD</td>
        <td>@x.TBLPERSONEL.AD @x.TBLPERSONEL.SOYAD</td>
        <td>@x.TBLMUSTERİ.AD @x.TBLMUSTERİ.SOYAD</td>
        <td>@x.FİYAT</td>
        <td>@x.TARİH</td>

    </tr>
    }
</table>
<a href="/Satislar/YeniSatis/" class="btn btn-primary">YENİ SATIŞ İŞLEMİ</a>


